.Giraffes {
    position: relative;
    height: 100%;
}

.Giraffes__title {
    display: flex;
    align-items: center;
}

.Giraffes__title span {
    font-size: 32px;
    color: #567354;
}

.Giraffes__items {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
    padding: 25px 10px;
}

.Giraffes__title button {
    background: #668663;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    border-radius: 50%;
    padding: 6px 11px;
    margin-left: 13px;

    outline: none;
    border: none;

    cursor: pointer;
    transition: all .3s ease-in-out;
}